
<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <% include partials/header.ejs %>
      <% include partials/sidebar.ejs %>
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">

                <div class="box-header with-border">
                  <h3 class="box-title">Sistema de Ventas</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>

                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <!--Contenido-->

                      <div class="row">
                      		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      			<h3>Editar Artículo</h3>
                            <%  if(errors){ %>
                              <h5>El formulario tiene errores: </h5>
                              <ul>
                                <% errors.forEach(function(error){%>
                                  <li><%= error.msg %></li>
                                <% }) %>
                              </ul>
                            <% } %>
                            <form action="/articulo/editar/<%= rows[0].referencia %>" method="POST">
                              <div class="form-group">
                                <label for="nombre">Descripción</label>
                                <input type="text" name="descripcion" class="form-control" value="<%= rows[0].descripcion %>" placeholder="Nombre...">
                              </div>
                              <div class="form-group">
                                <label for="descripcion">Precio</label>
                                <input type="text" name="precio" class="form-control" value="<%= rows[0].precio %>" placeholder="Descripción...">
                              </div>
                              <div class="form-group">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                                <button class="btn btn-danger" type="reset">Cancelar</button>
                              </div>
                            </form>
                      		</div>
                      	</div>

                      <!-- Fin Contenido-->
                    </div>
                  </div>
                </div><!-- box body -->
              </div><!-- box -->
            </div><!-- col md 12 -->
          </div><!-- row -->
        </section>
      </div>
      <% include partials/footer %>
    </div>
    <!-- jQuery 2.1.4 -->
    <script src="/public/scripts/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/public/scripts/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/public/scripts/app.min.js"></script>
  </body>
</html>
