<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <% include partials/header.ejs %>
      <% include partials/sidebar.ejs %>
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box">

                <div class="box-header with-border">
                  <h3 class="box-title">Sistema de Ventas</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>

                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <!--Contenido-->

                      <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <h3>Clientes</h3>
                        </div>
                      </div>

                      <!-- Fin Contenido-->
                    </div>
                  </div>
                </div><!-- box body -->
              </div><!-- box -->
            </div><!-- col md 12 -->
          </div><!-- row -->
        </section>
      </div>
      <% include partials/footer %>
    </div>
    <!-- jQuery 2.1.4 -->
    <script src="../../scripts/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="../../scripts/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../scripts/app.min.js"></script>
    <!-- jQuery custom script -->
    <script src="../../scripts/custom.js"></script>
  </body>
</html>
