
.hidden{
	display: none;
}

#menu{
 	background-color: #2471A3;
 	border-color: #2471A3;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}	 


.store-article-title{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	float: left;

	font-size: 14pt;
}

.store-article-brand{
	padding-left: 5px;
	padding-right: 10px;
	margin-bottom: 5px;
	width: 50%;
	float: left;
	text-align: right;

	font-size: 11pt;
}

.store-article-seller{
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 5px;
	width: 50%;
	float: left;

	font-size: 11pt;
}

.store-article-price{
	padding-left: 10px;
	padding-right: 10px;
	width: 50%;
	float: left;
	margin-bottom: 15px;

	font-family: 'Roboto Light';
	font-size: 16pt;
	font-weight: bold;
}

.store-article-goto{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	width: 50%;
	float: left;
	text-align: right;
}




.white-section{
	background-color: #FBFCFC;

}

.cols-margin{
	padding-right: 5px;
	padding-left: 5px;
}

.square-panel{
	margin-top: 10px;
	border-radius: 2px;  
}

.nopadding{
	padding: 0px;
}

.dropdown-menu{
	background-color: #2471A3;
}

.badge-white{
	background-color: #52BE80;
	color: #fff;
	margin-bottom: 10px;
	font-size: 8pt;
} 

.popover{
    width:200px;
    height:auto;    
}

.navbar-inverse .navbar-nav li a{
	background-color: transparent;
	border-style: none;
	border-color: #34495E;
	border-radius: 5px;
	border-width: 0.1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 3px;
	margin-right: 3px;
	color: #ECF0F1; 
	font-size: 13pt;
	text-decoration: none;
}

.navbar-btn {
    margin-top: 10px;
    margin-bottom: 8px;
}

.navbar-inverse .navbar-nav li a:hover{
	/*background-color: #fff;
	color: #2E4053;	 */
	color: #fff;
}

.body{
	background-color: #EAEDED;
}




