
h1, h2, h3, h4  {
	font-family: 'Roboto Light';
}

@media screen and (max-width: 480px) {
 	#menu{
 		background-color: #2471A3;
 		border-color: #2471A3;
 	}	 
}


.three-items-section{
	margin:20px auto;
	padding: 50px;
}

.menu-bar{
	background-color: #fff;
}

.footer-section{  
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #1C2833;
}

.footer-caption{
	margin:10px auto;
	color: white;
}

.footer-caption a{
	color: #fff;
	text-decoration: none;
	margin:15px;
}

.square-links-white{
	background-color: #fff;
	color: #cdcdcd;	
}

.square-links-black{
	background-color: #1d1d1d;
	color: #cdcdcd;	
}

.square-links{
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-radius: 1px;
	border-color: #f8f8f8;
	padding: 10px;
	color: white;
}

.square-links: hover{
	background-color: #f8f8f8;
	border-color: #cdcdcd;
}

.round-icon{
	background-color: #fff;
	color: #2E4053;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 25px;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nopadding{
	padding: 0px;
}

.left-caption{ 
	 padding-bottom: 200px;
	 left: 5%;
	 right: 50%;
	 text-align: left;

}

.right-caption{
	 right: 10%;
	 left: 50%;
	 padding-bottom: 200px;
	 text-align: left;
}

.carousel-caption{

}

.body{
	background-color: #EAEDED;
}


.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    /* opacity: 0.9; */
}

.navbar-brand{
	 
}

.navbar-inverse .navbar-nav li a{
	background-color: transparent;
	border-style: solid;
	border-color: #F7F9F9 ;
	border-radius: 5px;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 10px;
	color: #fff;
	font-weight: bold;
}

.navbar-inverse .navbar-nav li a:hover{
	background-color: #fff;
	color: #2E4053;	 
}


.white-text{
	color: #fff;
}

.white-section{
	background-color: #FBFCFC;

}

.parallax-caption{
	color: #fff;
	padding: 50px;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
